<div class="entry">
  <div class="upper-entry">
    <div class="entry-title">
      <%= link_to exam.title ,medical_exam_path(@medical,exam) %>
    </div>
    <div class="entry-date">
      <%= exam.exam_date %>
    </div>
  </div>

  <div class="lower-entry">
    <div class="entry-hospital">
      <%= exam.hospital %>
    </div>
  </div>
</div>