<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      <%= @medical.subject %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-btn">
      <%= link_to "記録", new_medical_exam_path(@medical) %>
    </div>
  </div>
</div>

<div class="entries">
  <div class="entry">
    <div class="upper-entry">
      <div class="entry-title">
        タイトル1
      </div>
      <div class="entry-date">
        2023/11/1
      </div>
    </div>
    <div class="lower-entry">
      <div class="entry-hospital">
        ABCクリニック
      </div>
    </div>
  </div>

  <div class="entry">
    <div class="upper-entry">
      <div class="entry-title">
        タイトル2
      </div>
      <div class="entry-date">
        2023/11/2
      </div>
    </div>
    <div class="lower-entry">
      <div class="entry-hospital">
        XYZ病院
      </div>
    </div>
  </div>

  
</div>
