<div class="side-bar-header">
  <div class="app-name">
    MY カルテ
  </div>
  <div class="user-nav">
    <span><a href="#">Tom</a>
      <ul class="user__info">
        <li>
          <%# <%= link_to "マイページ", #,  %> %>
          <%# <%= link_to "ログアウト", #, method: %> %>
        </li>
      </ul>
    </span>
  </div>
</div>

<div class="subjects">
  <div class="create-note">
    <a href="#">ノート作成</a>
  </div>
  <div class="notes">
    <div class="note">
      <div class="subject-name">
        <a href="#">診療科1</a>
      </div>
    </div>

    <div class="note">
      <div class="subject-name">
        <a href="#">診療科2</a>
      </div>
    </div>
    
  </div>
</div>